# Comment
tempfile.txt
tempfile2.txt
.DS_Store
*.zip
*.gz
log/*.log
log/*.log.[0-9]
assets/photoshop/
asstes/videos/
!assets/videos/tour_*.mp4
# question: would log/archive/access.log bbe ignored?
# answer: no subfodlers would need to be specified as well as contents
